<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
<header>
    <div class="title">
        <h1>Travel Planer</h1>
    </div>
</header>

<main>
    <section class="add_trip">
        <p class="add_trip__text">My Trips:</p>
        <div class="add_trip__button">
            <img class="add_trip__icon" src="/src/client/media/plus-thick.png" alt="add trip"/>
            Add Trip
        </div>
    </section>
    <section class="next_trip">
        <div class="next_trip_card">
            <img class="trip__image" src="" alt=""/>
            <div class="no_trip_avail">
                No trip data available. Please use 'add trip'.
            </div>
            <div class="trip__info">
                <div class="trip__title">
                    <p class="destination_name"></p>
                    <p class="trip_dep"></p>
                    <p class="trip_arr"></p>
                </div>
                <div class="trip__action">
                    <button class="save_trip">Save Trip</button>
                    <button class="remove_trip">Remove Trip</button>
                </div>

                <div class="trip__till"></div>

                <div class="trip_time">
                    <div class="trip_time__till">
                    </div>
                    <div class="trip_time__duration">

                    </div>

                </div>

                <div class="trip_wx">
                    <div class="trip_wx__header">
                        Typical weather for then is:
                    </div>
                    <div class="trip_wx__date">

                    </div>
                    <img class="trip_wx__icon" src="" alt="weather icon"/>
                    <div class="trip_wx__temp">
                    </div>

                    <div class="trip_wx__description">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="modal__content">
                <div class="modal__close">
                    &times;
                </div>
                <div class="modal__title">
                    Add a new trip
                </div>
                <div class="modal__form">
                    <label for="destination">Enter a destination</label>
                    <input id="destination" type="text" name="input" value="Limburg an der Lahn" placeholder="Destination">
                    <label for="destCountryCode">Enter a Country Code (XX)</label>
                    <input id="destCountryCode" type="text" name="input" value="DE" placeholder="CountryCode">
                    <label for="departure">Enter a departure date (DD/MM/YYYY)</label>
                    <input id="departure" type="text" name="input" value="" placeholder="Departure">
                    <label for="arrival">Enter an arrival date (DD/MM/YYYY)</label>
                    <input id="arrival" type="text" name="input" value="" placeholder="Arrival">
                    <button class="modal__add_button">Add Trip</button>
                </div>
            </div>
        </div>

    </section>

</main>

<footer>
    <p>Copyright benemichel_code</p>
</footer>
</body>
<!--<script>-->
<!--    // Check that service workers are supported-->
<!--    if ('serviceWorker' in navigator) {-->
<!--        // Use the window load event to keep the page load performant-->
<!--        window.addEventListener('load', () => {-->
<!--            navigator.serviceWorker.register('/service-worker.js');-->
<!--        });-->
<!--    }-->
<!--</script>-->
</html>
