<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
<header>
    <div class="title">
        <h1>Travel Planer</h1>
    </div>
</header>

<main>
    <section class="add_trip">
        <p class="add_trip__text">My Trips:</p>
        <div class="add_trip__button">
            <img class="add_trip__icon" src="/src/client/media/plus-thick.png" alt="add trip"/>
            Add Trip
        </div>
    </section>
    <section class="next_trip">
        <div class="next_trip_card">
            <img class="trip__image" src="/src/client/media/placeholder.jpg" alt="" />
            <div class="trip__info">
                <h3 class="trip__title">
                    <span>My trip to</span>
                    <span class="destination_name">#Paris</span>
                </h3>
                <h3>
                    <span>Departing</span>
                    <span>#02/12/2020</span>
                </h3>
                <div class="trip__action">
                    <button class="save_trip">Save Trip</button>
                    <button class="remove_trip">Remove Trip</button>
                </div>
                <div class="trip__content">
                    <div class="trip_time">
                        <div class="trip_time__till">
                        </div>
                        <div class="trip_time__duration">

                        </div>

                    </div>

                    <div class="trip_wx">
                        <div class="trip_wx__header">
                            Typical Weather for then is:
                        </div>
                        <div class="trip_wx__temp">

                        </div>
                        <div class="trip_wx__icon">

                        </div>
                        <div class="trip_wx__description">

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="modal__content">
                <div class="modal__close">
                    &times;
                </div>
                <div class="modal__title">
                    Add a new trip
                </div>
                <div class="modal__form">
                    <label for="destination">Enter a destination</label>
                    <input id="destination" type="text" name="input" value="" placeholder="Destination">
                    <label for="departure">Enter a departure date (DD/MM/YYYY)</label>
                    <input id="departure" type="text" name="input" value=""  placeholder="Departure">
                    <label for="arrival">Enter an arrival date (DD/MM/YYYY)</label>
                    <input id="arrival" type="text" name="input" value=""  placeholder="Arrival">
                    <button class="modal__add_button">Add Trip</button>
                </div>
            </div>
        </div>


        <form class="" onsubmit="return Client.handleSubmit(event)">
            <label for="url">Enter a url</label>
            <input id="url" type="text" name="input" value=""  placeholder="URL">
            <div id="url-validation-error"></div>
            <label for="lang">Choose language of text</label>
            <fieldset id="lang">
                <label for="en">English</label>
                <input type="radio" value="en" name="lang" id="en" checked>
                <label for="es">Spanish</label>
                <input type="radio" value="es" name="lang" id="es">
            </fieldset>
            <input id="form-submit" type="submit" name="" value="Get Sentiment" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>

<!--    <section id="form-results">-->
<!--        <strong>Form Results</strong>-->
<!--        <div id="results">-->
<!--            <div id="agreement"></div>-->
<!--            <div id="irony"></div>-->
<!--            <div id="subjectivity"></div>-->
<!--            <div id="sentiment"></div>-->
<!--        </div>-->
<!--    </section>-->
</main>

<footer>
    <p>Copyright benemichel_code</p>
</footer>
</body>
<!--<script>-->
<!--    // Check that service workers are supported-->
<!--    if ('serviceWorker' in navigator) {-->
<!--        // Use the window load event to keep the page load performant-->
<!--        window.addEventListener('load', () => {-->
<!--            navigator.serviceWorker.register('/service-worker.js');-->
<!--        });-->
<!--    }-->
<!--</script>-->
</html>
