.next_trip_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: mistyrose;
  padding: 15px 10px;

  .no_trip_avail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .no_trip_found {
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .trip__info {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .trip__image {
    max-width: 400px;
    max-height: 210px;

  }

  .trip__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;

  }

  .trip__action {
    margin: 10px 0;

    button {
      background-color: white;
      font-family: inherit;
      border: 2px solid gray;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;

      &:disabled {
        color: lightgrey;
        cursor: default;
      }

      &:hover {
        color: lightgrey;
      }
    }
  }

  .trip__till {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .trip_wx {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    .trip_wx__header {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .trip_wx__icon {
      margin-top: 7px;
    }

    .trip_wx__date,
    .trip_wx__description,
    .trip_wx__temp {
      margin: 4px 0;
    }
  }


}

@media (min-width: 960px ) {
  .next_trip_card {
    flex-direction: row;

    .trip__image {
      min-width: 600px;
      min-height: 400px;
    }

    .trip__info {
      //display: flex;
      flex-direction: column;
    }
  }
}