.next_trip_card {
  display: flex;
  justify-content: space-around ;
  background: mistyrose;
  padding: 15px 10px;

  .no_trip_avail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .trip__info {
    display: none;
    flex-direction: column;
    align-items: start;
  }

  .trip__image {
    max-width: 400px;

  }

  .trip__title {
    font-weight: bold;
    font-size: 1.5rem;

  }

  .trip__action {

  }

  .trip__content {

  }


}

.trip_wx__header {

}