.next_trip_card {
  display: flex;
  justify-content: space-around ;
  background: mistyrose;
  padding: 15px 10px;

  .trip__info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .trip__image {
    max-width: 400px;

  }

  .trip__title {

  }

  .trip__action {

  }

  .trip__content {

  }


}

.trip_wx__header {

}