@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 4px 0;
}

main {
  min-height: 100vh;
}

.add_trip {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

  .add_trip__text {
    font-weight: bold;
  }

  .add_trip__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: solid lightgrey;
    max-height: 25px;
    box-shadow: none;
    cursor: pointer;
    text-transform: lowercase;
    padding: 0 5px;
    font-weight: bold;
  }

  .add_trip__icon {
    max-height: 23px;
  }
}